*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.web-app{
    height: 100vh;
}
.parte1{
    height: calc(100%-120px);
}

.parte2{
    height: 120px;
    background-color: blueviolet;
}
.sidebar{
    background-color: black;
    height: 100%;
    width: 100px;
}




